[submodule "sources/lib"]
	path = lib/lathex-template
	url = https://github.com/apehex/lathex-template
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
